{% extends "store/extensions/base.html.jinja2" %}
{% block title %}Add product{% endblock %}
{% block content %}
    <h1>Add product</h1>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            <label for="select_image">Image:</label>
            <input type="file" id="select_image" name="image" accept="image/*" placeholder="stock.jpg">
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="enter name here ...">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" placeholder="enter price(int) here ...">
        </div>
        <div class="form-group">
            <label for="select_size">Size:</label>
            <select id="select_size">
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
            </select>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" placeholder="enter quantity here ...">
        </div>

        <input type="hidden" name="size" id="size" value="">
        <input type="submit" value="Add product">
        <script>
            $(function () {
                $("#select_size").change(function () {
                    var e = document.getElementById("select_size");
                    {#console.log(e.options[e.selectedIndex].value);#}
                    document.getElementById("size").setAttribute("value", e.options[e.selectedIndex].value);
                });
            });

            {#let dropArea = document.getElementById('drop-area')#}
            {##}
            {#  dropArea.addEventListener('dragenter', , false)#}
            {#  dropArea.addEventListener('dragleave', handlerFunction, false)#}
            {#  dropArea.addEventListener('dragover', handlerFunction, false)#}
            {#  dropArea.addEventListener('drop', handlerFunction, false)#}

        </script>
    </form>
{% endblock %}