{% extends "store/extensions/base.html.jinja2" %}
{% block title %}Your details{% endblock %}
{% block content %}
    <a href="{% url 'list' %}">Back</a>

    <table>
        <iframe name="foo" style="display: none;"></iframe>
        <tr>
            <td><h2>Username</h2></td>
            <td>:</td>
            <td><h2>{{ request.user.username }}</h2></td>
        </tr>
        <tr>
            <td><h2>First name</h2></td>
            <td>:</td>
            <td><h2>{{ request.user.first_name }}</h2></td>
        </tr>
        <tr>
            <td><h2>Last name</h2></td>
            <td>:</td>
            <td><h2>{{ request.user.last_name }}</h2></td>
        </tr>
        <tr>
            <td><h2>Email</h2></td>
            <td>:</td>
            <td><h2>{{ request.user.email }}</h2></td>
        </tr>
    </table>

    <a href="{% url 'view_user' %}?edit=1">Edit these details</a>

{% endblock %}