{% extends "store/extensions/base.html.jinja2" %}
{% load static %}
{% block title %}Your details{% endblock %}
{% block content %}
    <html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
        <meta charset="UTF-8">
    </head>
    <body>
    <a href="{% url 'list' %}" class="back">🢀Back</a>
    <div class="contents">
        <h1 class="header">Your Profile</h1>
        <div>
            <h1>Username</h1>
            <h2>{{ request.user.username }}</h2>
        </div>
        <br>
        <div>
            <h1>First name</h1>
            <h2>{{ request.user.first_name }}</h2>
        </div>
        <br>
        <div>
            <h1>Last name</h1>
            <h2>{{ request.user.last_name }}</h2>
        </div>
        <br>
        <div>
            <h1>Email</h1>
            <h2>{{ request.user.email }}</h2>
        </div>

        <a href="{% url 'view_user' %}?edit=1" class="edit">Edit these details</a>
        <h1 class="cancel">_</h1>
      </div>
    </body>
    </html>
{% endblock %}