{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css" />
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<div>
     <a href="{% url 'list' %}" class="back">🢀Back</a>
</div>
<body>
<h1>Authors</h1>
<p>This project was designed and implemented by Niema Attarian and Mark Gill for our Final Year Software Development Project</p>

</body>
</html>