<mat-grid-list cols="4" rowHeight="200px" gutterSize="15">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [ngClass]="tile.class" [routerLink]="['product',tile.id]">
    <div class="box-text">
      {{tile.text}}
    </div>
  </mat-grid-tile>
</mat-grid-list>
<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Create User</li>
    </ol>
  </nav>

  <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

    <div class="form-group">
<!--      <mat-form-field class="input-style">-->
        <input matInput placeholder="Name" class="form-control" formControlName="name">
<!--      </mat-form-field>-->
      <ng-container *ngFor="let validation of validation_messages.name">
        <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
      </ng-container>
    </div>

    <div class="row submit-button-container">
      <div class="col-md-4">
        <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Create</button>
      </div>
    </div>

  </form>



</div>
