<mat-grid-list cols="4" rowHeight="200px" gutterSize="15">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [ngClass]="tile.class" [routerLink]="['product',tile.id]">
    <div class="box-text">
      {{tile.text}}
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="search">
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">
    <div class="input-group-append">
<!--      <span class="input-group-text"><ion-icon class="icon" name="search"></ion-icon></span>-->
    </div>
  </div>
</div>


<div class="viewDiv">
  <div *ngFor="let name of names" class="list-group-item">
    <div class="col col-md-8 text-col">
      <h3 class="mb-1">{{name.payload.doc.data().name}}</h3>
  <!--    <small>Price: {{item.payload.doc.data().price}}</small>-->
    </div>
  </div>
</div>


<div class="addDiv">
  <nav aria-label="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Create User</li>
  </nav>

  <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

    <div class="form-group">
        <input matInput placeholder="Name" class="form-control" formControlName="name">
      <ng-container *ngFor="let validation of validation_messages.name">
        <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
      </ng-container>
    </div>

    <div class="row submit-button-container">
      <div class="col-md-4">
        <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Create</button>
      </div>
    </div>

  </form>



</div>
