{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <meta charset="UTF-8">
</head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <h4>SHOP</h4>
                </div>
                <ul class="nav-links">
                    <li class="dropdown">
                        <img src="{% static 'images/user.png' %}" class="user" alt="user">
                        <div class="dropdown-content">
                            <!-- Dropdown options for Login/Register or Logout/Profile -->
                            {% if request.user.username is none or request.user.username == '' %}
                                <a href="{% url 'login_view' %}" class="account-login" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign-In</a>
                                <a href="{% url 'register' %}" class="account-register" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</a>
                            {% endif %}
                            {% if request.user.username is not none and request.user.username != '' %}
                                <a href="#" onclick="document.getElementById('logout').submit()">Logout</a>
                                <form id="logout" action="{% url 'logout' %}" method="post">{% csrf_token %}</form>
                                <a href="{% url 'view_user' %}">Profile</a>
                            {% endif %}
                        </div>
                    </li>

                    <li class="cart-option">
                        <button onclick="cartFunction()" class="cart-button">cart icon</button>
                        <div id="cart-items" class="cart-content">
                            <h1 class="cart-header">Cart</h1>
                            <h2 class="divider">__________________</h2>
                            {% if request.user.username is none or request.user.username == '' %}
                                <h4 class="login-error">You are not logged in</h4>
                            {% endif %}
                            <div id="cart">

                            </div>
                        </div>
                    </li>
                </ul>
{#                <ul class="side-links">#}
{#                    <li>#}
{#                        <a href="#">Accessories</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">Brands</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">Clothing</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">Footwear</a>#}
{#                    </li>#}
{#                </ul>#}
{#                <div class="burger">#}
{#                    <div class="line1"></div>#}
{#                    <div class="line2"></div>#}
{#                    <div class="line3"></div>#}
{#                </div>#}
            </nav>
        </header>
{#            {% if notifications %}#}
{#                <div id="notifications">#}
{#                        {% for message in notifications %}#}
{#                            <div class="error-message">#}
{#                                {{ message }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
{##}
{#            <div id="cart">#}
{##}
{#                    <ul id="cart">Cart empty</ul>#}
{#            </div>#}

{#            <div id="header">#}
{#                    {% if request.user.username is not none and request.user.username != '' %}#}
{#                        <h1> Hello {{ request.user.username }}</h1>#}
{##}
{#                    {% elif request.user.username is none or request.user.username == '' %}#}
{#                        <h4>You are not logged in</h4>#}
{#                        <h5>You must be logged in to add to cart!</h5>#}
{#                    {% endif %}#}
{#            </div>#}

        {% block content %}{% endblock %}
        <footer class="foot">
            <nav class="social">
                <div class="foot-links">
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/niemaattarian/?hl=en"><img src="{% static 'images/insta.png' %}" width="40px" height="40px"></a>
                        </li>
                        <li>
                            <a href="https://github.com/niemaattarian/Final-Year-Project"><img src="{% static 'images/git.png' %}" alt="github" width="40px" height="40px"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com"><img src="{% static 'images/fb.png' %}" alt="facebook" width="40px" height="40px"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com"><img src="{% static 'images/twitter.png' %}" alt="twitter" width="40px" height="40px"></a>
                        </li>
                        <li>
                            <a href="https://www.snapchat.com"><img src="{% static 'images/snap.png' %}" alt="snapchat" width="40px" height="40px"></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="bottom">
                Shop © 2020
                <div>
                    <ul>
                        <li>
                            <a class="social-links" href="#">About</a>
                        </li>
                        <li>
                            <a class="social-links" href="#">Terms</a>
                        </li>
                        <li>
                            <a class="social-links" href="#">Privacy</a>
                        </li>
                        <li>
                            <a class="social-links" href="#">Author</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="#" class="back-to-top">🢁</a>
                </div>
            </nav>
        </footer>

        <div id="script">
            <script>
                function addToCart(item) {
                    $.ajax({
                        url: '{% url "cart" %}',
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'product_id': item,
                            'action': "add_to_cart"
                        },
                        success: function (msg) {
                            updateCart();
                        }
                    });
                }
                function removeFromCart(item) {
                    $.ajax({
                        url: '{% url "cart" %}',
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'product_id': item,
                            'action': "remove_from_cart"
                        },
                        success: function (msg){
                            updateCart();
                        }
                    });
                }
                function updateCart() {
                    $.ajax({
                        url: '{% url "cart" %}',
                        type: 'GET',
                        success: function (data) {
                            console.log(data);
                            listElement = document.getElementById("cart");
                            listElement.innerHTML = "";
                            var total = 0;
                            data.forEach(function (product) {
                                {#var stock = document.createElement("stock");#}
                                {#stock.innerText = product.fields.quantity + " left in stock";#}
                                {#listElement.appendChild(stock);#}
                                var li = document.createElement("li");
                                li.innerText = product.fields.name +" €"+ product.fields.price;
                                listElement.appendChild(li);
                                total += parseFloat(product.fields.price);
                                {#var ct = document.createElement("cartTotal")#}
                                {#ct.innerText = total;#}
                                {#listElement.appendChild(ct);#}
                                var btn = document.createElement("button")
                                btn.innerHTML = 'X';
                                btn.addEventListener("click", function(){removeFromCart(product.pk)});
                                listElement.appendChild(btn);
                            });
                            listElement.append("\n new line\t               " + "Cart total: €"+ (total).toFixed(2));
                        }
                    });
                }
                updateCart();

                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function cartFunction() {
                  document.getElementById("cart-items").classList.toggle("show");
                }

                // Close the dropdown if the user clicks outside of it
                window.onclick = function(event) {
                  if (!event.target.matches('.cart-button')) {
                    var dropdowns = document.getElementsByClassName("cart-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                      var openDropdown = dropdowns[i];
                      if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                      }
                    }
                  }
                }
            </script>
        </div>
    </body>
</html>