{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static "styles/style.css" %}'>
    <title>Base</title>
{#    static/styles/style.css#}
</head>
<body>

<header>
    <nav>
        <div class="logo">
            <h4>SHOP</h4>
        </div>
        <ul class="nav-links">
            <li class="dropdown">
                <span><img src="../../images/user.png" alt="user" width="50px" height="45px"></span>
                <div class="dropdown-content">
                    <button class="account-register" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Register/Sign-Up</button>
                    <br>
                    <br>
                    <button class="account-login" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign-In</button>
                </div>
            </li>
            <li>
                <a href="#" id="homebtn">
                    <img src="../../images/cart.png" alt="cart" width="50px" height="45px">
                </a>
            </li>
        </ul>
        <ul class="side-links">
            <li>
                <a href="#">Accessories</a>
            </li>
            <li>
                <a href="#">Brands</a>
            </li>
            <li>
                <a href="#">Clothing</a>
            </li>
            <li>
                <a href="#">Footwear</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>

<main>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>
    <h1>content</h1>

</main>

<footer class="foot">
    <nav class="social">
        <div class="foot-links">
            <ul>
                <li>
                    <a href="https://www.instagram.com/niemaattarian/?hl=en"><img src="images/insta.png" alt="instagram" width="40px" height="40px"></a>
                </li>
                <li>
                    <a href="https://github.com/niemaattarian/Final-Year-Project"><img src="images/git.png" alt="github" width="40px" height="40px"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com"><img src="../../images/fb.png" alt="facebook" width="40px" height="40px"></a>
                </li>
                <li>
                    <a href="https://twitter.com"><img src="../../images/twitter.png" alt="twitter" width="40px" height="40px"></a>
                </li>
                <li>
                    <a href="https://www.snapchat.com"><img src="../../images/snap.png" alt="snapchat" width="40px" height="40px"></a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="bottom">
        Shop © 2020
        <div class="bottom-links">
            <ul>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Author</a>
                </li>
            </ul>
        </div>
        <div>
            <a id="backtotop"><img src="../../images/up.png" alt="back-to-top" width="80px" height="75px"></a>
        </div>
    </nav>
</footer>

<!-- Register -->
<!-- Register pop up page -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" method="post">
        {% csrf_token %}
        <div class="container">
            <h2>Register/Sign Up</h2>
            <p>Please fill in the following details to create an account.</p>
            <hr>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <div class="clearfix">
                <button class="create" type="submit">Create Account</button>
                <button class="cancel" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
            </div>
        </div>
    </form>
</div>

<!-- Sign-in -->
<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" method="post">
        {% csrf_token %}
        <div class="container">

            <h2>Sign In</h2>
            <hr>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <div class="clearfix">
                <button class="login" type="submit">Login</button>
                <button class="cancel" onclick="document.getElementById('id02').style.display='none'">Cancel</button>
            </div>
        </div>
    </form>
</div>

<script src="../../static/javascript/navbar.js"></script>

</body>
</html>
