<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    {% if user is not none and user.username != '' %}
        <h1> Hello {{ user.username }}</h1>
    {% endif %}
    <div>
        <h1>Product List</h1>
        <a href="{% url 'product_new' %}">Add product</a><br><br>
        <table border="1">
            <tr>
{#                <th>ID</th>#}
                <th>Name</th>
                <th>Price</th>
                <th>Size</th>
            </tr>
            {% for product in products %}
            <tr>
{#                <td>{{ product.id }}</td>#}
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.size }}</td>
                <td>
                    <a href="{% url 'product_detail' product.id %}">Detail</a>
                    <a href="{% url 'product_edit' product.id %}">Edit</a>
                    <a href="{% url 'product_delete' product.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="4"><b>Data is empty! Please, add data first.</b></td></tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
{#    <div>#}
{#        <h1>My products</h1>#}
{#        <a href="{% url 'product_new' %}">My products</a><br><br>#}
{#        <table border="1">#}
{#            <tr>#}
{#                <th>ID</th>#}
{#                <th>Name</th>#}
{#                <th>Price</th>#}
{#                <th>Size</th>#}
{#            </tr>#}
{#            {% for product in my_object_list %}#}
{#            <tr>#}
{#                <td>{{ product.id }}</td>#}
{#                <td>{{ product.name }}</td>#}
{#                <td>{{ product.price }}</td>#}
{#                <td>{{ product.size }}</td>#}
{#                <td>#}
{#                    <a href="{% url 'product_detail' product.id %}">Detail</a>#}
{#                    <a href="{% url 'product_edit' product.id %}">Edit</a>#}
{#                    <a href="{% url 'product_delete' product.id %}">Delete</a>#}
{#                </td>#}
{#            </tr>#}
{#            {% empty %}#}
{#            <tr><td colspan="4"><b>Data is empty! Please, add data first.</b></td></tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#    </div>#}
</body>
</html>