<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h1>cart</h1>
    <ul id="cart">Cart empty</ul>

    {% if user.username is not none and user.username != '' %}
        <h1> Hello {{ user.username }}</h1>
    {% elif user.username is none %}
        <h5>You are not logged in</h5>
    {% endif %}
    <div>
        <h1>Products</h1>
        {% if user.is_superuser %}
            <a href="{% url 'product_new' %}">Add product</a><br><br>
        {% endif %}
        <table border="4">
            <tr>
{#                <th>ID</th>#}
                <th>Name</th>
                <th>Price</th>
                <th>Size</th>
            </tr>
            <iframe name="foo" style="display: none;"></iframe>
            {% for product in products %}
            <tr>
{#                <td>{{ product.id }}</td>#}
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.img }}</td>
                <td><a href="{% url 'product_detail' product.id %}">Detail</a></td>
                {% if user.is_superuser %}
                    <td><a href="{% url 'product_edit' product.id %}">Edit</a></td>
                    <td><a href="{% url 'product_delete' product.id %}">Delete</a></td>
                {% endif %}
                {% if user.username is not none and user.username != '' %}
                    <td><button onclick="addToCart({{ product.pk }})">Add to cart</button></td>
                    <td><button onclick="removeFromCart({{ product.pk }})">Remove from cart</button></td>
                {% endif %}
            </tr>
            {% empty %}
            <tr><td colspan="4"><b>Data is empty! Please, add data first.</b></td></tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <br><br>
        {% if user.username is none or user.username == '' %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        {% if user.username is not none and user.username != '' %}
            <a href="#" onclick="document.getElementById('logout').submit()">Logout</a>
            <form id="logout" action="{% url 'logout' %}" method="post">{% csrf_token %}</form>
        {% endif %}
    </div>
<script>
    function addToCart(item) {
        $.ajax({
            url: '{% url "cart" %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'product_id': item,
                'action': "add_to_cart"
            },
            success: function (msg) {
                updateCart();
            }
        });
    }
    function removeFromCart(item) {
        $.ajax({
            url: '{% url "cart" %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'product_id': item,
                'action': "remove_from_cart"
            },
            success: function (msg){
                updateCart();
            }
        });
    }
    function updateCart() {
        $.ajax({
            url: '{% url "cart" %}',
            type: 'GET',
            success: function (data) {
                console.log(data);
                listElement = document.getElementById("cart");
                listElement.innerHTML = ""
                var total = 0;
                data.forEach(function (product) {
                    var li = document.createElement("li");
                    li.innerText = product.fields.name +" €"+ product.fields.price;
                    listElement.appendChild(li);
                    total += parseFloat(product.fields.price);
                    {#var ct = document.createElement("cartTotal")#}
                    {#ct.innerText = total;#}
                    {#listElement.appendChild(ct);#}
                    var btn = document.createElement("button")
                    btn.innerHTML = 'remove';
                    btn.addEventListener("click", function(){removeFromCart(product.pk)})
                    listElement.appendChild(btn);
                })
                listElement.append("Total cart cost: €"+ total);
            }
        });
    }
    updateCart();
</script>
</body>
</html>